@font-face {
    font-family: 'P22 Bangersfield';
    src: url('P22Bangersfield-Light.eot');
    src: local('P22 Bangersfield Light'), local('P22Bangersfield-Light'),
        url('P22Bangersfield-Light.eot?#iefix') format('embedded-opentype'),
        url('P22Bangersfield-Light.woff2') format('woff2'),
        url('P22Bangersfield-Light.woff') format('woff'),
        url('P22Bangersfield-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'P22 Bangersfield';
    src: url('P22Bangersfield-Bold.eot');
    src: local('P22 Bangersfield Bold'), local('P22Bangersfield-Bold'),
        url('P22Bangersfield-Bold.eot?#iefix') format('embedded-opentype'),
        url('P22Bangersfield-Bold.woff2') format('woff2'),
        url('P22Bangersfield-Bold.woff') format('woff'),
        url('P22Bangersfield-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'P22 Bangersfield Demi';
    src: url('P22Bangersfield-Demi.eot');
    src: local('P22 Bangersfield Demi'), local('P22Bangersfield-Demi'),
        url('P22Bangersfield-Demi.eot?#iefix') format('embedded-opentype'),
        url('P22Bangersfield-Demi.woff2') format('woff2'),
        url('P22Bangersfield-Demi.woff') format('woff'),
        url('P22Bangersfield-Demi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'P22 Bangersfield';
    src: url('P22Bangersfield-Regular.eot');
    src: local('P22 Bangersfield'), local('P22Bangersfield-Regular'),
        url('P22Bangersfield-Regular.eot?#iefix') format('embedded-opentype'),
        url('P22Bangersfield-Regular.woff2') format('woff2'),
        url('P22Bangersfield-Regular.woff') format('woff'),
        url('P22Bangersfield-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

